<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/circle.png" type="image/x-icon" />
    <link rel="stylesheet" href="/sass/main.css" />
    <title>Circles Generator</title>
    <script defer src="js/index/index.js" type="module"></script>
  </head>
  <body>
    <div id="mainDivInIndex">
      <img src="img/01-imgInIndex.png" alt="circle image" id="imgInIndex" />
      <div id="welcomeText">
        <h1>Welcome To Circle Generator</h1>
        <h2>Have fun generating circles</h2>
        <p>Manage the amount of circles , the radius , x speed and y speed</p>
        <p>the colors are randomly picked (up to 16 M colors)</p>
        <a href="/playGround">Start playing</a>
      </div>
    </div>
  </body>
</html>