<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/circle.png" type="image/x-icon" />
    <link rel="stylesheet" href="/sass/main.css" />
    <title>Circle Generator/Play</title>
    <script defer src="js/playGround/playGround.js"></script>
  </head>
  <body>
    <div id="mainDivInPlayGround">

      <canvas id="canvas">

      </canvas>

      <div id="controlCanvas">
        <h3>Start the FUN</h3>
        <input
          type="text"
          name=""
          id="circlesAmount"
          placeholder="Circles amount"
        />
        <input
          type="text"
          name=""
          id="CirclesRadius"
          placeholder="Circles radius"
        />
        <input type="text" name="" id="xSpeed" placeholder="X Speed" />
        <input type="text" name="" id="ySpeed" placeholder="Y speed" />
        <button id="addBtn">Add</button>
        <button id="clearBtn">Clear</button>

      </div>
    </div>
  </body>
</html>